Repository SrDevDash/Game-of-Thrones-App, pull requests merged in 2022-12, with the labels that each got.

#25 Feature/formulario login#1
  client/public/index.html
  client/src/App.js
  client/src/Components/Carta/Carta.jsx
  client/src/Components/DetallesCasa/DetallesCasa.jsx
  client/src/Components/Footer/Footer.jsx
  client/src/Components/FormCrearCasa/FormCrearCasa.jsx
  client/src/Components/FormLogin/FormLogin.jsx
  client/src/Components/FormLogin/FormLogin.module.css
  client/src/Components/FormLogin/validate.jsx
  client/src/Components/FormSingUp/FormSingUp.jsx
  client/src/Components/LandindPage/LandingPage.jsx
  client/src/Components/MostrarCartas/MostrarCartas.jsx
  client/src/Components/Navbar/Navbar.jsx
Labels: frontend, css

#28 singup method request finished
  api/src/app.js
  api/src/db/db.js
  api/src/db/models/Character.js
  api/src/routers/singupRouter.js
  api/src/routers/testRouters/routersTests.test.js
  api/src/routers/testRouters/testfunctions/functions.js
  api/src/routes/index.js
  api/tests/models/pokemon.spec.js
  api/tests/routes/pokemon.spec.js
Labels: backend

#30 Feature/formulario singup#12
  client/src/App.js
  client/src/Components/FormLogin/validate.jsx
  client/src/Components/FormSignUp/FormSignUp.jsx
  client/src/Components/FormSignUp/FormSignUp.module.css
Labels: frontend, validate
